body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:link {
  text-decoration: none;
}

@font-face {
  font-family: "Poppins-Black";
  src: local("Poppins-Black"),
    url(assets/fonts/Poppins/Poppins-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-BlackItalic";
  src: local("Poppins-BlackItalic"),
    url(assets/fonts/Poppins/Poppins-BlackItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold"),
    url(assets/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-BoldItalic";
  src: local("Poppins-BoldItalic"),
    url(assets/fonts/Poppins/Poppins-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-ExtraBold";
  src: local("Poppins-ExtraBold"),
    url(assets/fonts/Poppins/Poppins-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-ExtraBoldItalic";
  src: local("Poppins-ExtraBoldItalic"),
    url(assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-ExtraLight";
  src: local("Poppins-ExtraLight"),
    url(assets/fonts/Poppins/Poppins-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-ExtraLightItalic";
  src: local("Poppins-ExtraLightItalic"),
    url(assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Italic";
  src: local("Poppins-Italic"),
    url(assets/fonts/Poppins/Poppins-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Light";
  src: local("Poppins-Light"),
    url(assets/fonts/Poppins/Poppins-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-LightItalic";
  src: local("Poppins-LightItalic"),
    url(assets/fonts/Poppins/Poppins-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins-Medium"),
    url(assets/fonts/Poppins/Poppins-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-MediumItalic";
  src: local("Poppins-MediumItalic"),
    url(assets/fonts/Poppins/Poppins-MediumItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"),
    url(assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: local("Poppins-SemiBold"),
    url(assets/fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-SemiBoldItalic";
  src: local("Poppins-SemiBoldItalic"),
    url(assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Thin";
  src: local("Poppins-Thin"),
    url(assets/fonts/Poppins/Poppins-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-ThinItalic";
  src: local("Poppins-ThinItalic"),
    url(assets/fonts/Poppins/Poppins-ThinItalic.ttf) format("truetype");
}
